<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Hospital manager</title>
</head>
<body>

<h3>Patient created successfully!</h3>

<div th:object = "${createPatientDto}">
  <p th:text="'Name: ' + *{name}"></p>
  <p th:text="'Age: ' + *{age}"></p>
  <p th:text="'PhoneNumber: ' + *{phoneNumber}"></p>
</div>

<button onclick="window.location.href='/mvc/patient/viewAll';">
  View the patients list
</button>
<p></p>
<button onclick="window.location.href='/';">
  Home
</button>
